@{
    Layout = "_Layout";
}
@using ImageCore.Models.ViewModel.User
@using ImageCore.Services
@inject IImageLoader ImageLoader
@model List<ImageCore.Models.ViewModel.User.UserListViewModel>

<div class="UserListWrapper">
    <div class="UserListHeader">
        <div class="userListHeaderUpper">
            <h1 >Users</h1>
        </div>
        <div class="UserListHeaderLower">
            <input type="text" placeholder="suchen" id="lookForUser">
            <div class="filterOptionWrapper">
                <div class="filterOption">
                    <select id="userOrdering">
                        <option value="ascend">Aufsteigend</option>
                        <option value="descend">Absteigend</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="UserListList">
        @if (TempData["interactionstatus"] is not null)
        {
            <p>@TempData["interactionstatus"] TEST</p>
        }
        <div class="UserListEntry UserListEntryHeader">
            <div class="userEntryImage"></div>
            <div class="UserEntryVerticalWrapper">
                <p class="userEntryHeader userEntryHeaderHeader">Name</p>
            </div>
            <div class="UserEntryVerticalWrapper">
                <p class="userEntryHeader userEntryHeaderHeader">E-Mail</p>
            </div>
            <div class="UserEntryVerticalWrapper">
                <p class="userEntryHeader userEntryHeaderHeader">Role</p>
            </div>
            <div class="UserEntryVerticalWrapper">
                <p class="userEntryHeader userEntryHeaderHeader">Interaktion</p>
            </div>
        </div>
        @foreach (UserListViewModel user in Model)
        {
            <div class="UserListEntry">
                @if (user.Image is not null && !user.Image.Equals(""))
                {
                    <img class="userEntryImage" style="background-image: none !important;" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ImageLoader.GetProfileImage(user.Image)))">
                }
                else
                {
                    <img class="userEntryImage" src="~/images/Icons/UserIconWhite.svg">
                }
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader">Name</p>
                    <p class="userEntryValue">@user.Username</p>
                </div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader">E-Mail</p>
                    <p class="userEntryValue">@user.Email</p>
                </div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader">Role</p>
                    <p class="userEntryValue">@user.Role</p>
                </div>
                <div class="UserEntryVerticalWrapper">
                    <p class="userEntryHeader">Interaktion</p>
                    <div style="display: flex;flex-direction: row">
                         <a class="userEntryValue EditIcon" asp-controller="User" asp-action="Update" asp-route-id="@user.UserId"></a>
                        <a class="userEntryValue EyeIcon" asp-controller="User" asp-action="Show" asp-route-id="@user.UserId"></a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="UserListPaginationWrapper">
        <div class="UserPagination">
            <div class="UserPaginationBack">
                <p><</p>
            </div>
            <div class="UserPagionationNumbers">
                @for (int x = (int)ViewData["paginationMin"]; x < (int)ViewData["paginationMax"]; x++)
                {
                    <a class="paginationNumberIndex"  asp-action="Index" asp-controller="User" asp-route-pagination="@x">@x</a>
                }
            </div>
            <div class="UserPaginationForward">
                <p>></p>
            </div>
        </div>
    </div>
</div>

<script>

document.getElementById("lookForUser").addEventListener("keyup",() =>{
                if (event.keyCode === 13) 
                {
                    let order = document.getElementById('userOrdering').value === "descend";
                    let val = document.getElementById("lookForUser").value;
                    let pagination = "";
                    let url = `@Url.Action("Index", "User", new {}, ViewData["RequestScheme"].ToString())`;
                   window.location.href = 
                   url + "?query=" + val + (pagination ? ("&pagination=" + pagination) : ( "&pagination=0") ) + (order ? "&descend=true" : "");
                }
            });

</script>