@{
    Layout = "_Layout";
}
@using ImageCore.Services
@model ImageCore.Models.ViewModel.User.UserViewModel;
@inject IImageLoader ImageLoader

<div class="userWrapper">
    <div class="user">
        @if (Model.Image is not null && !Model.Image.Equals(""))
        {
            <img class="userImage" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ImageLoader.GetProfileImage(Model.Image)))">
        }
        else
        {
            <div class="userImage" ></div>
        }
        <div class="userDescription">
            <div class="userInformation">
                <h1 style="font-size: 2.5em">@Model.Username</h1>
                <ul>
                    <li>@Model.Description</li>
                </ul>
            </div>
            <div class="userActions">
                @if (!Model.isUser)
                {
                    if (Model.isContact)
                    {
                        <button id="contactEdit" class="DeleteUserAsContactBtn" onclick="fetchConctact('@ViewData["contactAddUrl"]','DELETE')"></button>
                    }
                    else
                    {
                        <button id="contactEdit" class="AddUserAsContactBtn" onclick="fetchConctact('@ViewData["contactAddUrl"]','POST')"></button>
                    }
                    <button class="AddUserToProject" onclick="getProjects(`@Url.Action("GetProjects", "Project", new {userId = Model.UserId}, ViewData["RequestScheme"].ToString())`)"></button>
                }
            </div>
        </div>
    </div>
    <div class="projectList">
        @foreach(string project in Model.ProjectNames)
        {
            <div class="projectListEntry">
                <img src="~/images/Abstract-Background-Best-Wallpaper-14092.jpg">
                <div class="projectListEntryText">
                    <p>@project</p>
                    <div class="projectEntryInformation">
                        <div class="viewIcon"></div>
                        <p>5</p>
                        <div class="userIcon"></div>
                        <p>5</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <template>
        <div class="modalWindowConfirmWrapper" id="ModalWindow">
            <div class="modalWindowConfirm">
                <h1>Add User to Project</h1>
                <select id="projectSelection"></select>
                <div class="modalWindowBtnWrapper">
                    <button onclick="addUserToProject(`@Url.Action("Store","ProjectParticipator", new {UserId = Model.UserId}, ViewData["RequestScheme"].ToString())`)"
                            id="addUserToProjectBtn">Hinzufügen</button>
                    <button id="cancelProjectBtn" onclick="this.parentNode.parentNode.parentElement.remove()">Cancel</button>
                </div>
            </div>
        </div>
    </template>
</div>

<script>


    function fetchConctact(url,methodType)
    {
        fetch(url,{method: methodType})
        .then(res => res.json())
        .then(res => {
             if (res)
             {
                 let contactbtn = document.getElementById("contactEdit");

                 if (contactbtn.className === "AddUserAsContactBtn")
                 {
                     contactbtn.classList.remove("AddUserAsContactBtn");
                     contactbtn.classList.add("DeleteUserAsContactBtn");
                 }
                 else
                 {
                     contactbtn.classList.remove("DeleteUserAsContactBtn");
                     contactbtn.classList.add("AddUserAsContactBtn");
                 }
                 let method = methodType === "POST" ? "DELETE" : "POST";
                 contactbtn.setAttribute('onclick',`fetchConctact('${res}','${method}')`);
             }    
        });
    }
    
    function getProjects(url)
    {
        fetch(url)
                .then(res => res.json())
                .then(res => {
                     if (res)
                     {
                         let template = document.getElementsByTagName("template")[0].content.cloneNode(true);
                         let wrapper = template.children[0];
                          document.body.appendChild(wrapper);
                         let projectDropdown = document.getElementById("projectSelection");
                         for (let x = 0; x < res.length; x++)
                         {
                               let option = document.createElement("option");
                               option.value = res[x].projectId;
                               option.innerHTML = res[x].projectName;
                               projectDropdown.appendChild(option);
                         }
                     }    
                });
    }

    function addUserToProject(url)
    {
        let projectId = document.getElementById("projectSelection").value;
        fetch(url + "&projectId=" +projectId,{method: "POST"})
        .then(res => {
             if (res.status === 200)
             {
                 document.getElementById("ModalWindow").remove();
             }    
        }); 
    }
</script>