@{
    Layout = "_Layout";
}
@model ImageCore.Models.ViewModel.User.UserEditViewModel;

<form class="EditUserWrapper" asp-controller="User" asp-action="Put" asp-route-id="@ViewData["id"]">
    <h1>Benutzer bearbeiten</h1>
    @if (ViewData["UserSaved"] is not null)
    {
        <p>Änderungen gespeichert</p>
    }
    <div class="UserEditImageRow">
        <div class="UserProfileImageEdit" onclick="document.getElementById('ImageToUpload').click()"></div>
        <div class="UserInformation">
            <label>Username</label>
            <p>@Model.Username</p>
            <label>E-Mail</label>
            <p>@Model.Email</p>
            <label>Rolle</label>
            <p>@Model.Role</p>
        </div>
        <input id="ImageToUpload" class="userEditImage" type="file">
    </div>
    <div class="UserInputRow">
        <label>Username</label>
        <input type="text">
        <label>E-Mail</label>
        <input  type="email">
        <label>Passwort</label>
        <input  type="password">
        <label>Role</label>
        <select type="text" value="@Model.Role">
            <option value="User">Benutzer</option>
            <option value="Admin">Admin</option>
        </select>
        <button type="submit" class="acceptContactRequestBtn" >Speichern</button>
    </div>
</form>