@{
    Layout = "_Layout";
}
@using ImageCore.Services
@model ImageCore.Models.ViewModel.ContactRequestViewModel
@inject IImageLoader ImageLoader

<div class="contactWrapper">
    <div class="contactHeader">
        <ul>
            <li>
                <a asp-controller="Contact" asp-action="Index">Freunde</a>
            </li>
            <li>
                <a asp-controller="Contact" asp-action="ContactRequests">Anfragen</a>
            </li>
            <li style="display: none">
                <a id="lookForUser" asp-controller="Contact" asp-action="ContactFind"></a>
            </li>
        </ul>
        <input id="searchBar" type="text" placeholder="Neue Kontakt suchen">
    </div>
    @for(int x = 0; x < Model.Usernames.Count(); x++)
    {
        <div class="contactList contactListRequests">
        <a class="contactBlock contactBlockRequests" asp-controller="User" asp-action="Show" asp-route-id="@Model.UserIds[x]">
                @if (Model.UserImages[x] is not null && !Model.UserImages[x].Equals(""))
                {
                    <img class="contactProfileImage"  src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ImageLoader.GetProfileImage(Model.UserImages[x])))">
                }
                else
                {
                    <img class="contactProfileImage">
                }
                <p>@Model.Usernames[x]</p>
                <button class="acceptContactRequestBtn" id="contactEdit"
                        onclick="fetchConctact('@Url.Action("AcceptRequest", "Contact", new {contactId = Model.ContactIds[x]}, ViewData["RequestScheme"].ToString())','PUT',this);event.preventDefault();event.stopPropagation()">
                    Bestätigen
                </button>
                <button class="declineContactRequestBtn" id="contactEdit" 
                        onclick="fetchConctact('@Url.Action("DeclineRequest", "Contact", new {contactId = Model.ContactIds[x]}, ViewData["RequestScheme"].ToString())','DELETE',this);event.preventDefault();event.stopPropagation()">
                    Entfernen
                </button>
            </a>
        </div>
    }
</div>

<script>
    function fetchConctact(url,methodType,btn)
    {
        btn.parentElement.remove()
        fetch(url,{method: methodType})
        .then(res => res.json())
        .then(res => {
             if (res) btn.parentElement.remove()
        }); 
    }
    
        document.getElementById("searchBar").addEventListener("keyup",() =>{
            if (event.keyCode === 13) {
               window.location.href = 
               document.getElementById("lookForUser").href + "?query=" + document.getElementById("searchBar").value; 
            }
        });
        
</script>